[Unit]
Description=Gunicorn service for Django (nowheremx)
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/n_wh_r
ExecStart=/home/ubuntu/n_wh_r/venv/bin/gunicorn \
    --config /home/ubuntu/n_wh_r/gunicorn_config.py \
    ecommerce.wsgi:application

Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

# Variables de entorno (apunta al .env del proyecto)
EnvironmentFile=/home/ubuntu/n_wh_r/.env

# Protección
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
